<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息安全采集与监控系统</title>
    <link href="public/dataFromBrightease/style/css/public.min.css" rel="stylesheet">
    <link href="public/dataFromBrightease/style/css/dataCollection.min.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <!--背景图-->
    <div class="img-bg">
        <img src="public/dataFromBrightease/img/dc/bg.jpg"/>
    </div>
    <div class="header clearfix">
        <div class="h-left fl">
            <img src="public/dataFromBrightease/img/dc/logo.png">
        </div>
        <div class="h-right fr">
            <img class="ht-logo" src="public/dataFromBrightease/img/dc/time.png">
            <span class="h-time">2017-08-15 10:10:45</span>
        </div>
    </div>
    <div class="c-info clearfix">
        <div class="pqz">
            数据爬取中<span></span>
        </div>
        <div class="dc-left fl">
            <p class="dc-l-top">
                <img src="public/dataFromBrightease/img/dc/neibu.png">
                <span>内部数据采集</span>
                <span class="c-data">当前数据：</span>
                <span id="count" class="count">${map.num}</span>
            </p>
            <div id="mediaBox" class="data-info">
                <ul id="data">

                </ul>


            </div>
        </div>
        <div class="dc-right fr">
        #{list map.sourceList, as:'sources'}
            <div id="${sources.id}" class="r-logo fl">
                <img src="/public/dataFromBrightease/img/logo/${sources.url}">
                <div class="mark"></div>
            </div>
        #{/list}



        </div>

    </div>
</div>
<script src="public/dataFromBrightease/js/jquery-2.1.4.js"></script>
<script src="public/dataFromBrightease/js/jquery.scrollbox.js"></script>
<script src="public/dataFromBrightease/js/countUp.min.js"></script>
<script>
    var max = 20;
    var min = 1;
    var pageStart = 0;
    var pageSize = 0;
    var total = 0;
    var list = document.getElementById('data');
    var liLength = 40;
    var fristCount = $("#count").html();
    var flag = true;
    var date = "";
    var paused = true;
    $(function () {
        showLeftTime();
        $("#data").bind('mouseover', function () {
            paused = false;
        });
        $("#data").bind('mouseout', function () {
            paused = true;
        });

    })
    function getDataByRandom() {

        pageSize = getRandom(min, max);

        if (date == "") {
            date = getNowFormatDate();
        }else if(date>="23:50:00"){
            date="00:00:00";
        }

        $.ajax({
            type: "get",
            url: "/getData?startTime=" + date + "&pageSize=" + pageSize,
            dataType: "json",
            success: function (json) {
                setUl(json.list);
                flag = true;

            },
            error: function () {
                flag = true;
            }
        });

    }

    function myInterval() {
        var interval = setInterval(function () {
            if (paused) {
                if (list.childNodes.length <= liLength) {
                    if (flag) {
                        getDataByRandom();
                    }
                    flag = false;
                } else {
                    del(1);
                    addCount();
                    bright($(getLi(liLength)).attr("type"));
                }
            }
        }, 100);
    }

    function addCount() {
        var max = fristCount++;
        var options = {
            useEasing: true,
            useGrouping: true,
            separator: ',',
            decimal: '.',
            prefix: '',
            suffix: ''
        };
        var demo = new CountUp("count", fristCount, max, 0, 2.5, options);
        demo.start();
        //  $("#count").html(fristCount++);
    }
    $().ready(function () {
        myInterval();

    });

    function bright(id) {
        $("#" + id + " .mark").animate({opacity: 0}, 1000, function () {
            $("#" + id + " .mark").animate({opacity: 0.5}, 2000);
        });
    }
    function getRandom(min, max) {
        var random = Math.floor(Math.random() * max + min); //1-10
        return random;
    }
    function setUl(list) {
        date = list[list.length - 1].createtime;
        for (var i in list) {
            add(list[i]);

        }

    }
    function getLi(n) {
        return list.childNodes[n];
    }
    function setLi(obj) {
        var li = document.createElement("li");
        $(li).attr('class', 'clearfix');
        $(li).attr('type', obj.source);
        var liStr = '';
        liStr += '<span class="fl">' + obj.code + '(' + obj.sourceName + ')</span>';
        liStr += ' <span class="fl">' + obj.data + '</span>';
        liStr += '<span class="fr">' + getNowFormatDate() + '</span>';
        $(li).html(liStr);
        return li;
    }


    function del(n) {

        var t = list.childNodes.length;
        for (var i = 0; i < t; i++) {
            if (i == n - 1) {
                list.removeChild(list.childNodes[i]);
            }
        }
    }
    function add(obj) {
        var li = setLi(obj);
        list.appendChild(li);
    }
    function getNowFormatDate() {
        var date = new Date();
        var seperator2 = ":";

        var currentdate = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + seperator2 +
                (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes())
                + seperator2 + (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());
        return currentdate;
    }

    function showLeftTime() {
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        $(".h-time").html("" + year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds + "");
        //一秒刷新一次显示时间
        setTimeout(showLeftTime, 1000);
    }


</script>
</body>
</html>